<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>To Do List</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

	<div style="margin-top:75px" class="container">
		<h3>To Do List</h3>
		<hr>

		<form action="/addTodo" method="post">
			{% csrf_token %}
        <div class="mb-3">
            <label class="form-label">To Do Title</label>

            <input type="text" class="form-control" name="title" placeholder="Enter the title" required>

            <div class="form-text">We recommend that the title is meaningful</div>
        </div>
        <button type="submit" class="btn btn-danger">Add</button>
        </form>
        <hr>
        {% if todos%}
        <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">To Do Title</th>
            <th scope="col">To Do Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
        <tr>
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.title}}</td>
            <td> 
                {% if todo.completed == True %}
                    Completed
                {% else %}
                    Not Completed
                {% endif %}
                </td>
            <td><a href="/update/{{todo.id}}" class = "btn btn-primary">Update</a></td>
            <td><a href="/delete/{{todo.id}}" class = "btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}

        </tbody>
        </table>
        {% else %}
        	<div class="alert alert-danger">
        		You don't have any to to!
        	</div>
        {% endif %}
        
	</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>